<!DOCTYPE html>
<html>

<head>
    <%- include("partials/head.ejs")%>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <h2>Add item</h2>
        <form action="/additem" method="POST" class="form-container">
            <span class="form-row">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
            </span>
            <span class="form-row">
                <label for="description">Description</label>
                <textarea id="description" name="description"></textarea>
            </span>
            <span class="form-row">
                <label for="category">Category</label>
                <select id="category" name="category">
                    <option value="" selected disabled hidden>Select a category</option>
                    <% categories.forEach((category)=> { %>
                        <option value="<%= category.id %>">
                            <%= category.name %>
                        </option>
                        <% }) %>
                </select>
            </span>
            <span class="form-row">
                <label for="quantity">Quantity</label>
                <input type="number" id="quantity" name="quantity">
            </span>
            <%- include("partials/error.ejs")%>
            <button type="submit" class="btn">Add item</button>
        </form>
</body>

</html>