<!DOCTYPE html>
<html>

<head>
    <%- include("partials/head.ejs")%>
</head>

<body>
    <%- include("partials/header.ejs") %>
    <span class="category-header">
        <h2>
            <%= category.name %>
        </h2>
        <a class="link" href="/editcategory/<%= category.id %>">Edit</a>
    </span>
    <table>
        <thead>
            <tr class="row-heading">
                <th class="text-start">Name</th>
                <th class="col-narrow">Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr class="spacer">
                <td></td>
            </tr>
            <% items.forEach((item)=> { %>
                <tr>
                    <td>
                        <a href="/item/<%= item.id %>">
                            <%= item.name %>
                        </a>
                    </td>
                    <td class="text-end">
                        <a href="/item/<%= item.id %>" tabindex="-1">
                            <%= item.quantity %>
                        </a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>