<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include("partials/header.ejs") %>
    <h2><%= category.name %></h2>
    <form class="form-container" action="/editcategory/<%= category.id %>" method="POST">
        <span class="form-row">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="<%= category.name %>">
        </span>
        <span class="form-row">
            <label for="description">Description</label>
            <textarea id="description" name="description"><%= category.description %></textarea>
        </span>
        <span class="form-row">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </span>
        <%- include("partials/error.ejs") %>
        <span class="btn-container">
            <button class="btn" type="submit">Edit Category</button>
            <button class="btn"type="submit" formaction="/deletecategory/<%= category.id %>">Delete Category</button>
        </span>
    </form>
</body>

</html>